################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DownloadNuget/v15
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
/DownloadNuget/bin/Debug/netstandard2.0
/DownloadNuget/obj
